body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top_container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: #D2D2F3;
}

.middle_container {
  max-width: 800px; /* Add this line */
  margin: 0 auto; /* Add this line */
}

.bottom_container {
  max-width: 800px; /* Add this line */
  margin: 0 auto; /* Add this line */
}

h1 {
  width: 20%;
  margin: 0 auto 0 auto;
  position: relative;
  top: 5px;
  font-family: Sacramento, cursive;
}

h2 {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-family: Montserrat, sans-serif;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-image{
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.description-container {
  max-width: 800px;
  margin: 0 auto;
}
