body{background-color: #EAF6F6;}
hr{background-color: #EAF6F6;
border-style: dotted none none none;
border-width: 6.5px;
border-color: black;


width: 8%;}
img{animation: 3s ease-in 1s 2 reverse both paused slidein;}
h1{color: #66BFBF;}
h3{color: #66BFBF;}
